extends layout

block content
  h1= title
  p Welcome to #{title}


  if user
    h1 welcome #{user.displayName}
  else 
    p
      a(href='/auth') 
        img(src='/images/btn_strava_connectwith_orange.png')
