extends layout

block content
  h1= title
  p Welcome to #{title}

  p
    a(href='https://www.strava.com/oauth/authorize?client_id=9007&response_type=code&redirect_uri=http://127.0.0.1:3000/auth/&approval_prompt=force&scope=activity:read_all,profile:read_all') 
      img(src='/images/btn_strava_connectwith_orange.png')